{:deps {;;  clj-http/clj-http {:mvn/version "3.13.0"} 
        org.apache.httpcomponents.client5/httpclient5 {:mvn/version "5.4.2"}
        com.vladsch.flexmark/flexmark-all             {:mvn/version "0.64.8"}
        ;; com.openai/openai-java                        {:mvn/version "0.30.0"}
        ;; net.clojars.wkok/openai-clojure               {:mvn/version "0.22.0"}
        org.clojure/data.json                         {:mvn/version "2.5.1"}
        net.openhft/chronicle-queue                   {:mvn/version "5.27ea2"}}}