{:task_group_name "Zip Task Loading"
 ;; Database nodes currently support drn and dwn, drn is responsible for loading data, dwn is responsible for writing data
 :nodes           "rnd->wnd;"
 :sched_type      "once"
 :datasource      {}
 ;; When customizing task scripts, it needs to be explicitly declared here, note that the absolute path should be written here
 ;;  :entry_script    ["C:\\Users\\chen_\\Desktop\\zip_task_demo.zip"]
 :entry_script    ["/home/mawdx/mywork/cissy/resources/zip_task_demo.zip"]
 :tasks           [{:rnd {}
                    :wnd {}}]}