{
 ;if you want to use custom-lib, you should add it to the :mvn/repos
 ;if mvn/repos is not set, it will use the default maven repos(https://repo1.maven.org/maven2/ and https://clojars.org/repo/)
 ;you can also use local dir as a lib, just like the commented line, but you should make sure the jar(include the dependency jar) is in the dir 
 ;same time the local dir file tree should be like this:{group-id}/{artifact-id}/{version}/{artifact-id}-{version}.jar !!!
 ;at last you can alse use local/root to add a jar file directly,but it is not recommended
 :mvn/repos {
             "central" {:url "https://repo1.maven.org/maven2"}
             "clojars" {:url "https://clojars.org/repo"}
       ;;       "custom-lib" {:url "file:///home/mawdx/桌面/lib"}
             }
 :deps {
        cheshire/cheshire {:mvn/version "5.12.0"} 
       ;;  cheshire/cheshire {:local/root "/home/mawdx/桌面/lib/table-0.7.1.jar"}
        }
 }